<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Brexit</title>
  <meta charset="utf-8">
  <base href="http://localhost:3000">
  <meta name="description" content="Immersive experience">
  <meta property="og:title" content="Brexit ">
  <meta property="og:type" content="website">
  <meta property="og:image" content="#">
  <meta property="og:description" content="Immersive Experience">
  <meta property="og:site_name" content="Brexit">
  <meta property="og:locale" content="fr_FR">
  <link rel="shortcut icon" href="assets/img/favico-2.png">
  <link rel="stylesheet" type="text/css" href="/assets/css/main.min.css">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700|Josefin+Sans:300,400,600,700|Oxygen:300,400,700|Cantarell:400,700" rel="stylesheet">
</head>
