$bg-color : black;
$menu-burger-color : white;
$menu-burger-bg-color : #ffcc00;
body {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  user-select: none;
  background: $bg-color;
  background: radial-gradient(#001A4D, #00050F);
}

.menu-burger {
  position: fixed;
  z-index: 9;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  flex-flow: nowrap column;
  align-items: center;
  cursor: pointer;
}

.menu-burger-bar {
  width: 32px;
  height: 1px;
  background-color: $menu-burger-bg-color;
  border-radius: 3px;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform-origin: center;
}

.menu-burger-open-animation .menu-burger-bar-1 {
  animation-name: cross-animation-top;
}

.menu-burger-open-animation .menu-burger-bar-2 {
  animation-name: cross-animation-middle;
}

.menu-burger-open-animation .menu-burger-bar-3 {
  animation-name: cross-animation-bottom;
}

.menu-burger-close-animation .menu-burger-bar-1 {
  animation-name: cross-animation-top-close;
}

.menu-burger-close-animation .menu-burger-bar-2 {
  animation-name: cross-animation-middle-close;
}

.menu-burger-close-animation .menu-burger-bar-3 {
  animation-name: cross-animation-bottom-close;
}

@keyframes cross-animation-top-close {
  0% {
    transform: rotate(45deg) translate(0px, 15px);
  }

  100% {
    transform: rotate(0deg) translate(0px, 0px);
  }
}

@keyframes cross-animation-middle-close {
  0% {
    transform: translate(-40px, 0px);
    opacity: 0;
  }

  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes cross-animation-bottom-close {
  0% {
    transform: rotate(-45deg) translate(0, -15px);
  }

  100% {
    transform: rotate(0deg) translate(0, 0px);
  }
}

@keyframes cross-animation-top {
  0% {
    transform: rotate(0deg) translate(0px, 0px);
  }

  100% {
    transform: rotate(45deg) translate(0px, 15px);
  }
}

@keyframes cross-animation-middle {
  0% {
    transform: translate(0px, 0px);
    opacity: 1;
  }

  100% {
    transform: translate(-40px, 0px);
    opacity: 0;
  }
}

@keyframes cross-animation-bottom {
  0% {
    transform: rotate(0deg) translate(0, 0);
  }

  100% {
    transform: rotate(-45deg) translate(0, -15px);
  }
}

.side-menu-container {
  position: fixed;
  z-index: 8;
  top: 0;
  right: 0;
  width: 20%;
  height: 100vh;
  background: $lighter-blue-color;
  transition-timing-function: ease-in;
  transition-duration: 0.4s;
  transition-property: transform;
  transform: translateX(0%);
  will-change: transform;
  overflow: hidden;
  box-shadow: -3px 0px 16px #1f1f1f;
}

.menu-container-open{
  transform: translateX(0);
}

.menu-container-close {
  transform: translateX(110%);
}
.fade-menu-container{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  background: $light-blue-color;
  transition-timing-function: ease-in;
  transition-duration: 0.4s;
  transition-property: opacity;
  will-change: opacity;
  overflow: hidden;
  z-index: -2;
}

.fade-menu-container-open{
  z-index: 2;
  opacity: 0.9;
}

.fade-menu-container-close {
  z-index: -2;
  opacity: 0;
}

/* MAP */

.container-map {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateY(0%) scale(1);
  overflow: hidden;
}

.center-title-main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 90px;
  margin-left: -200px;
  margin-top: -45px;
}

.title-main {
  font-family: "Noe Display Black";
  text-align: center;
  font-size: 5em;
  color: #FFF;
  animation:showTitle .4s .4s ease-in-out forwards;
  transform: translateX(-110%);
}

.content-map {
  height: 100%;
  transform: translate(0%,0%) scale(1);
  transition: ease-in-out 0.5s transform;
}

.countries-svg{
  cursor: pointer;
  transition: 0.4s ease-in all;
}
.countries-svg:hover{
  stroke-width: 3px;
  fill: #84a0da;
  stroke : none;
}
.responsive-container-map{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 2;
}

@media (max-width:800px) {
  .responsive-container-map{
    display: block;
  }
  .countries-svg-selected{
    stroke-width: 3px;
    fill: #84a0da !important;
    stroke : none;
  }
  .content-map {
    transform: translate(82%,-28%) scale(3)
  }
  .center-title-main{
    top:10%;
  }
}
