$bg-color : black;
$menu-burger-color : white;
$menu-burger-bg-color : #ffcc00;
body {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  overflow-x:hidden;
  background: $bg-color;
  background: radial-gradient(#001A4D, #00050F);
}
.close-disclaimer{
  position: absolute;
  top: 15px;
  right: 20px;
  width : 20px;
  height : 20px; 
  cursor: pointer;
}
.disclaimer-text{
  width: 100%;
  height: 10%;
  position: fixed;
  bottom: 0;
  transform: translateY(100%);
  background: rgba(0,0,0,0.8);
  transition: 0.5s ease-in transform;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  text-align: center;
  z-index: 20;
  will-change: transform;
  p{
    color: white;
    font-family: "Oxygen";
  }
}
.disclaimer-text-pop{
  transform: translateY(0%);
}
.sound-display{
  display: block; 
}
.sound-no-display{
  display: none;
}
.menu-burger {
  display: none;
  position: fixed;
  z-index: 9;
  top: 30px;
  right: 19px;
  width: 40px;
  height: 24px;
  display: none;
  justify-content: space-between;
  flex-flow: nowrap column;
  align-items: center;
  cursor: pointer;
}
.confirm-country{
  animation: scale-up 0.5s 0.8s ease-in backwards;
}
.menu-burger-bar {
  width: 32px;
  height: 1px;
  background-color: $menu-burger-bg-color;
  border-radius: 3px;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform-origin: center;
}
.menu-burger-ico{
  cursor: pointer;
}
.footer-menu-burger{
  position: fixed;
  z-index: 9;
  top:5%;
  right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow:row nowrap;
  width: 15%;
  height: auto;
}
.copied-return{
  opacity: 0;
  position: absolute;
  width: 70px;
  height: 30px;
  top:150%;
  right:-100%;
  background: rgba(0,0,0,0.5);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  span{
    color:white;
    font-family: "Josefin Sans";
  }
}
.pop-up-animation{
  animation-name: pop-up;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;

}
.ico-hover{
  stroke: #c5c5c5;
  transition: 0.3s ease-in stroke;
}
.ico-hover:hover{
  stroke:white;
}
.disclaimer{
  width: 25px;
  height: 25px;
  background-image: url('../img/share.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.share-link{
  position: relative;
  width: 25px;
  height: 25px;
  background-image: url('../img/share.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.sound-ico{
  width: 25px;
  height: 25px;
}
.menu-burger-open-animation .menu-burger-bar-1 {
  animation-name: cross-animation-top;
}

.menu-burger-open-animation .menu-burger-bar-2 {
  animation-name: cross-animation-middle;
}

.menu-burger-open-animation .menu-burger-bar-3 {
  animation-name: cross-animation-bottom;
}

.menu-burger-close-animation .menu-burger-bar-1 {
  animation-name: cross-animation-top-close;
}

.menu-burger-close-animation .menu-burger-bar-2 {
  animation-name: cross-animation-middle-close;
}

.menu-burger-close-animation .menu-burger-bar-3 {
  animation-name: cross-animation-bottom-close;
}

@keyframes cross-animation-top-close {
  0% {
    transform: rotate(45deg) translate(0px, 15px);
  }

  100% {
    transform: rotate(0deg) translate(0px, 0px);
  }
}

@keyframes scale-up {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pop-up {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cross-animation-middle-close {
  0% {
    transform: translate(-40px, 0px);
    opacity: 0;
  }

  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes cross-animation-bottom-close {
  0% {
    transform: rotate(-45deg) translate(0, -15px);
  }

  100% {
    transform: rotate(0deg) translate(0, 0px);
  }
}

@keyframes cross-animation-top {
  0% {
    transform: rotate(0deg) translate(0px, 0px);
  }

  100% {
    transform: rotate(45deg) translate(0px, 15px);
  }
}

@keyframes cross-animation-middle {
  0% {
    transform: translate(0px, 0px);
    opacity: 1;
  }

  100% {
    transform: translate(-40px, 0px);
    opacity: 0;
  }
}

@keyframes cross-animation-bottom {
  0% {
    transform: rotate(0deg) translate(0, 0);
  }

  100% {
    transform: rotate(-45deg) translate(0, -15px);
  }
}

.side-menu-container {
  position: fixed;
  z-index: 8;
  top: 0;
  right: 0;
  width: 100px;
  height: 100vh;
  background: $lighter-blue-color;
  transition-timing-function: ease-in;
  transition-duration: 0.4s;
  transition-property: transform;
  transform: translateX(0%);
  will-change: transform;
  overflow: hidden;
  box-shadow: -3px 0px 16px #0202029c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  .title-container{
    width: 75%;
  }
  .menu-title-unselected{
    color: rgba(255,255,255,0.4)
  }
  .menu-title-selected{
    color:white;
  }
  .menu-title-container{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-flow: column nowrap;
    cursor: pointer;
    margin-bottom: 20%;
  }
  .menu-title-container:hover .menu-title-container-bar{
    width: 100%;
  }
  .menu-title-container:hover span{
    color: white;
  }
  .menu-title-container-bar{
    height: 1px;
    width: 0;
    background: white;
    transition: ease-in 0.3s width;
  }
  span{
    font-family: "Poppins";
    font-weight:700;
    text-align: right;
    font-size: 2.5em;
    width: auto;
    transition: ease-in 0.3s color;
  }

}

.menu-container-open{
  transform: translateX(0);
}

.menu-container-close {
  transform: translateX(110%);
}
.fade-menu-container{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  background: rgba(0,0,0,0.6);
  transition-timing-function: ease-in;
  transition-duration: 0.4s;
  transition-property: opacity;
  will-change: opacity;
  overflow: hidden;
  z-index: -2;
}

.fade-menu-container-open{
  z-index: 2;
  opacity: 0.9;
}

.fade-menu-container-close {
  z-index: -2;
  opacity: 0;
}

/* MAP */

.container-map {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateY(0%) scale(1);
  overflow: hidden;
}

.center-title-main {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 480px;
  height: 170px;

}

.title-main {
  font-family: "Poppins";
  font-weight:800;
  text-align: left;
  font-size: 4em;
  color: #FFF;
  animation: showTitle .4s .4s ease-in-out forwards;
  transform: translateX(-110%);
}

.content-map {
  height: 100%;
  transform: translate(0%,0%) scale(1);
  transition: ease-in-out 0.5s transform;
}

.countries-svg{
  cursor: pointer;
  transition: 0.4s ease-in all;
}
.countries-svg:hover{
  stroke-width: 3px;
  fill: $yellow-color;
  stroke : none;
}
.responsive-container-map{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 2;
}

.countries-svg-selected{
  stroke-width: 3px;
  fill: $yellow-color !important;
  stroke : none;
}
.country-map-apparition{
  transition: 0.5s ease-in all;
  will-change: opacity;
  opacity: 0;
}
.country-name-display{
  position: fixed;
  z-index: 200;
  bottom: 5%;
  left: 10%;
  font-family: "Josefin Sans";
  color: white;
  font-size: 2em;
  animation: appear 0.5s 0s ease-in forwards;
}
@media (max-width:800px) {
  .responsive-container-map{
    display: block;
  }
  .title-main {
  font-size: 3em;
}
.center-title-main {
  width: 280px;
  height: 170px;
}
  .content-map {
    transform: translate(82%,-28%) scale(3)
  }
  .center-title-main{
    top:10%;
  }
  .footer-menu-burger{
    flex-flow: column nowrap;
    width: 5%;
    height: 20%;
  }
}
@media (max-width:500px) {
  .disclaimer-text{
    p{
      font-size: 0.8em;
    }
  }
}