.qr-transition-show{
  display: flex !important;
  z-index: 2000;
}
.qr-transition-after{
  transform: translateX(100%) !important;
}
.qr-transition{
  display: none;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  transition: 0.5s ease all;
  transform: translateX(0%);
  .qr-transition-bar{
    display: flex;
    width: 10%;
    margin-left: 0;
    height: 100vh;
    background: $blue-color;
    transition: 1s ease all;
    transform: translateY(100%);
  }
  .qr-transition-bar-1{transition-delay: 0.1s}
  .qr-transition-bar-2{transition-delay: 0.2s}
  .qr-transition-bar-3{transition-delay: 0.3s}
  .qr-transition-bar-4{transition-delay: 0.4s}
  .qr-transition-bar-5{transition-delay: 0.5s}
  .qr-transition-bar-animation-up{
    transform: translateY(0%);
  }
  .qr-transition-bar-animation-left{
    animation-name: animation-qr-left;
    animation-duration: 0.4s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .qr-transition-bar-animation-right{
    animation-name: animation-qr-right;
    animation-duration: 0.4s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

.inner-qr-code-container{
  display: none ;
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%,-70%);
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
  height: 40%;
  span{
    font-family: "Josefin Sans";
    color: white;
    font-size: 2em;
  }
  .qr-code-img{
    width: 300px;
    height: 300px;
    background: black;
  }
}
.qrcode-btn-continue{
  position: absolute;
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column nowrap;
  bottom: -50%;
  right: -20%;
  font-family: "Josefin Sans";
  color: white;
  font-size: 1em;
  z-index: 200;
  span{
    margin-bottom: 13px;
  }
}
@keyframes animation-qr-left {
  0% {
    width: 10%;
    margin-left: 0%;
  }
  100% {
    width: 0%;
    margin-left: 10%;
    z-index: -2;
  }
}
@keyframes animation-qr-right {
  0% {
    width: 0%;
    margin-left: 10%;
    z-index: -2;
  }
  100% {
    width: 10%;
    margin-left: 0%;
  }
}
.qrcode-btn-back{
  position: absolute;
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column nowrap;
  bottom: -50%;
  left: -10%;
  font-family: "Josefin Sans";
  color: white;
  font-size: 1em;
  z-index: 200;
  span{
    margin-bottom: 13px;
  }
}
