.question-title {
    font-size:40px;
    font-family:"Noe Display Bold";
    transform:translateX(-100%);
    transition:.7s .5s ease-in-out;
    will-change: transform;
    letter-spacing: 1.5px;
    line-height: 1.3;
}

.global-container{
    display: block;
    position:relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.global-container.active{
    display: none;
}

.container-question.active .question-title {
    transform: translateX(0%);
}

.container-question.active-last .question-title {
    transform: translateX(100%);
}

.container-question.active .content-number-question {
    transform: translateY(0%);
}

.content-number-question {
    transform: translateY(110%);
    transition:.8s ease-in-out;
    will-change: transform;
}

.size-font-small {
    margin: 0 0 40px;
}
.display-flex{
    display: flex;
}
.display-none{
    display: none;
}

.container-question {
    text-align:center;
    padding:12% 20%;
    opacity:0;
    position: absolute;
    width:100%;
    color:#fff;
    transition:.7s ease-in-out;
}

.content-number-question {
    text-transform: uppercase;
    font-family: "Josefin Sans";
    text-align: center;
}

.container-question.active {
    opacity:1;
    z-index:9999;
}

.info-bulle {
    margin:50px 0 0 0;
    width: 100%;
}
.pos-ques
tion {
    top: 2%;
    right: 2%;
}
.pos-answer {
    z-index: 1111111;
    bottom: 2%;
    right: 6%;
}
.info-round{
    z-index: 10000;
    height: 50px;
    width: 50px;
    background: #fff;
    color: #001A4D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
} 

.img-help{
    width: 30%;
    height: auto;

}
.content-help {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    background: $blue-color;
    transition: 0.8s ease-in-out;
    will-change: transform;
    transform: translateY(255%);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    overflow: hidden;
}
.help-title{
    font-size: 2em;
    color: white;
    font-family: "Oxygen";
    font-weight: lighter;
}
.img-help{
    position:relative;
    top:0;
    right: 0;
    width: 40%;
    height: auto;
    margin-left: 10%;
}
.container-text{
    width: 50%;
    height: 70%;
    text-align: left;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: column nowrap;
    margin-left: 10%;
}
.content-transition{
    position:absolute;
    z-index: 10000;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: $yellow-color;
    transform: translateX(0%);
    transition: 0.3s ease-in transform;
    transition-delay: 0.8s;
}
.content-help.active .content-transition{
    transform: translateX(100%);
}
.content-help.active {
    transform: translateY(142%);
}
.help-text{
    font-family: "Oxygen";
    font-weight: 200;
    line-height: 1.2;
    font-size: 1em;
    color: white;
}


.content-help {
    opacity: 0;
    width: 100%;
    text-align: left;
    color: #fff;
    transition: .5s ease-in-out;
    will-change: opacity;
    margin: auto;
    margin-top: 30px;
    font-family: "Josefin Sans";
    font-weight: 200;
    line-height: 1.2;
}

.content-help.active {
    opacity:1;
}

.quiz-end {
    display: none;
    position:absolute;
    width:100%;
    background:$blue-color;
    opacity:0;
}

.quiz-end.active {
    display: flex;
    opacity:1;
    z-index: 9999999;
}

.title-country {
    position:absolute;
    z-index: 1111;
    left:50%;
    top:4%;
    transform:translateX(-50%);
    font-size:40px;
    font-family:"Noe Display Bold";
    color:#fff;
}

.alert-value {
    padding: 10px;
    color:red;
    background:#fff;
    border-radius:4px;
    position:absolute;
    top:0;
    transform:translateY(-100%);
    width:80%;
    z-index: 1111;
}

.question-header {
    text-align:center;
    width:100%;
    background:$blue-color;
    padding:20px;
    position:absolute;
    left:0;
    right:0;
    top:0;
    color:#fff;
    font-family:"Josefin Sans";
    z-index:111;
    animation: moveFromTop .4s ease-in-out forwards;
    transform: translateY(-100%);
}


@keyframes moveFromTop {
    0% {
        transform:translateY(-100%);
    }
    100% {
        transform:translateY(0%);
    }
}

.container-data {
    width: 80%;
    margin: 100px auto;
    color: #fff;
}

.title-end-data {
    font-size:3.5em;
    font-family:"Noe Display Black"
}

.content-one-question-data {
    margin-top:40px;
}

.little-title-question-data {
    text-transform: uppercase;
    font-family: "Josefin Sans";
    font-weight: 600;
    font-size: 14px;
    color:$yellow-color;
}

.title-question-data {
    padding: 10px 0 30px;
    font-size: 2em;
    font-family: "Noe Display Medium";
}

.content-question-data {
    display:flex;
    justify-content: space-between;
    width:100%;
}

.block-question-data {
    padding:20px;
    border-radius:5px;
    background:$lighter-blue-color;
}

.white-box-data {
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    color: #0c2a59;
    font-family: "Oxygen";
    line-height: 1.5;
    font-size: 16px;
    margin-top: 22px;
    letter-spacing: 1px;
    font-weight: 400;
}

.title-box-white-data {
    font-family: "Josefin Sans";
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-weight: 800;
}

.block-question-data:first-child {
    width:100%;
}

.little-title-content-data {
    font-size:14px;
    text-transform:uppercase;
    font-family:"Josefin Sans";
    color:#cccc;
}

.my-vote-content-data {
    text-align: center;
    line-height: 4;
    font-size: 3em;
    font-family: "Noe Display Medium";
}

.fill-data {
    margin-top:20px;
    width: 100%;
    height: 40px;
    background: #001a4d;
    border-radius: 5px;
    position: relative;
}

.seek-data-yes {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    background: $yellow-color;
    border-radius:5px 0 0 5px;
    transform: scaleX(.45);
    transform-origin: left;
}

.seek-data-no {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    background: #255abb;
    border-radius:5px 0 0 5px;
    transform: scaleX(.70);
    transform-origin: left;
}

.flex {
    display:flex;
    color:#fff;
}

.round-yes {
    height:15px;
    width:15px;
    background:$yellow-color;
    border-radius:50%;
    margin: 20px 0px 20px 0;
}

.round-no {
    height:15px;
    width:15px;
    background:#255abb;
    border-radius:50%;
    margin: 20px 0px 20px 0;
}

.textYes, .textNo {
    font-family:"Josefin Sans";
    padding:20px 20px 5px 5px;
}

.fill-data:hover .hover-tooltip-yes, .fill-data:hover .hover-tooltip-no, .fill-data:hover .hover-tooltip-yesManual, .fill-data:hover .hover-tooltip-noManual {
    opacity:1;
}

.hover-tooltip-yes, .hover-tooltip-yesManual {
    opacity:0;
    transition:.5s ease-in-out;
    background: #fff;
    border-radius: 30px;
    padding: 10px 10px 6px;
    position: relative;
    position: absolute;
    width: auto;
    z-index: 1111;
    left: 3%;
    top: -15px;
    font-weight: 700;
    color: $yellow-color;
    font-family:"Josefin Sans"
}

.hover-tooltip-yes:after, .hover-tooltip-yesManual:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
    z-index: 99999999;
}

.hover-tooltip-no, .hover-tooltip-noManual {
    opacity:0;
    transition:.5s ease-in-out;
    background: #fff;
    border-radius: 30px;
    padding: 10px 10px 6px;
    position: relative;
    position: absolute;
    width: auto;
    z-index: 1111;
    left: 3%;
    top: -15px;
    font-weight: 700;
    color: #255abb;
    font-family:"Josefin Sans"
}

.hover-tooltip-no:after, .hover-tooltip-noManual:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
    z-index: 99999999;
}

.manual-question {
    display: flex;
    justify-content: space-around;
    padding: 100px 0;
    font-size: 2em;
    font-family: "Josefin Sans";
}

.container-question-result{
    position: absolute;
    z-index: -2;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $blue-color;
    display: flex;
    visibility: none;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: .7s ease-in-out all;
    z-index: 10000;
    overflow: hidden;
}
.container-question-result.active{
    visibility: visible;
    transform: translateX(0%);
}
 
.result-transition{
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $blue-color;
    transform: scale(0);
}
 
.display-result{
    width: 50%;
    height: 50%;
    position:relative;
    overflow: hidden;
    transform:translateY(-20%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column nowrap;
}
.bar-container{
    position:relative;
    width: 100%;
    height: 70%;
    border: 1px solid white;
    border-radius: 5px;
    overflow: hidden;
}
.bar-big-container{
    position:relative;
    width: 100%;
    height: 20%;
}
.inner-bar-yes{
    position:relative;
    width: 100%;
    height: 100%;
    background: $yellow-color;
    transform: translateX(-55%);
    transition: 0.5s ease-in all;
}
.inner-bar-no{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: $yellow-color;
    transform: translateX(-45%);
    transition: 0.5s ease-in all;
}
.answer-type{
    position: relative;
    color: white;
    font-size: 1.5em;
    font-family: "Oxygen";
}
.pourcent-inner{
    position:absolute;
    top:50%;
    right: 5%;
    transform: translate(0%,-50%);
    color: white;
    font-size: 2em;
    font-family: "Oxygen";
}
.anim-time-remaining{
    animation: time-remaining 3s 0s ease-in forwards;
}
.time-remaining-result{
    width: 100%;
    height: 1%;
    position: absolute;
    bottom:0;
    left:0;
    background: $yellow-color;
    transform: translateX(-100%);
}
.question-result{
    font-size: 2em;
    color: white;
    text-align: center;
    font-family: "Oxygen";
}
.skip-button {
    position: absolute;
    color: #fff;
    background: #ffc000;
    padding: 17px 30px;
    bottom: 10%;
    font-family: "Josefin Sans";
    border-radius: 36px;
}
@keyframes time-remaining {
  0% {
    transform: translateX(-100%);
  }
 
  100% {
    transform: translateX(0%);
  }
}
 
@keyframes result-transition {
  0% {
    transform: scale(0);
  }
 
  100% {
    transform: scale(1);
  }
}
 