.question-title {
    font-size:40px;
    font-family:"Noe Display Bold";
    transform:translateX(-100%);
    transition:.7s ease-in-out;
    will-change: transform;
}

.container-question.active .question-title {
    transform: translateX(0%);
}

.container-question.active-last .question-title {
    transform: translateX(100%);
}

.container-question.active .content-number-question {
    transform: translateY(0%);
}

.content-number-question {
    transform: translateY(110%);
    transition:.8s ease-in-out;
    will-change: transform;
}

.size-font-small {
    margin: 0 0 40px;
}

.container-question {
    text-align:center;
    padding:12% 20%;
    opacity:0;
    position: absolute;
    width:100%;
    color:#fff;
    transition:.7s ease-in-out;
}

.content-number-question {
    text-transform: uppercase;
    font-family: "Josefin Sans";
    text-align: center;
}

.container-question.active {
    opacity:1;
    z-index:9999;
}

.info-bulle {
    margin:50px 0 0 0;
    width: 100%;
}

.info-round{
    height: 50px;
    width: 50px;
    background: #fff;
    color: #001A4D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    position: absolute;
} 

.pos-question {
    top: 2%;
    right: 2%;
}

.pos-answer {
    z-index: 1111111;
    bottom: 2%;
    right: 6%;
}

.content-help {
    opacity: 0;
    width: 80%;
    text-align: center;
    color: #fff;
    transition: .5s ease-in-out;
    will-change: opacity;
    margin: auto;
    margin-top: 30px;
    font-family: "Josefin Sans";
    font-weight: 200;
    line-height: 1.2;
}
.content-help.active {
    opacity:1;
}

.quiz-end {
    position:absolute;
    width:100%;
    background:$blue-color;
    opacity:0;
    z-index: 9999999;
}

.quiz-end.active {
    opacity:1;
}

.title-country {
    position:absolute;
    z-index: 1111;
    left:50%;
    top:4%;
    transform:translateX(-50%);
    font-size:40px;
    font-family:"Noe Display Bold";
    color:#fff;
}

.alert-value {
    padding: 10px;
    color:red;
    background:#fff;
    border-radius:4px;
    position:absolute;
    top:0;
    transform:translateY(-100%);
    width:80%;
    z-index: 1111;
}

.question-header {
    text-align:center;
    width:100%;
    background:$blue-color;
    padding:20px;
    position:absolute;
    left:0;
    right:0;
    top:0;
    color:#fff;
    font-family:"Josefin Sans";
    z-index:111;
}

.container-data {
    width: 1200px;
    margin: 100px auto;
    color: #fff;
}

.title-end-data {
    font-size:3.5em;
    font-family:"Noe Display Black"
}

.content-one-question-data {
    margin-top:40px;
}

.little-title-question-data {
    text-transform: uppercase;
    font-family: "Josefin Sans";
    font-weight: 600;
    font-size: 14px;
    color:$yellow-color;
}

.title-question-data {
    padding: 10px 0 30px;
    font-size: 2em;
    font-family: "Noe Display Medium";
}

.content-question-data {
    display:flex;
    justify-content: space-between;
}

.block-question-data {
    padding:20px;
    border-radius:5px;
    background:$lighter-blue-color;
}

.block-question-data:first-child {
    width:30%;
}

.block-question-data:last-child {
    width:68%;
}

.little-title-content-data {
    font-size:14px;
    text-transform:uppercase;
    font-family:"Josefin Sans";
    color:#cccc;
}

.my-vote-content-data {
    text-align: center;
    line-height: 4;
    font-size: 3em;
    font-family: "Noe Display Medium";
}

.fill-data {
    margin-top:20px;
    width: 100%;
    height: 40px;
    background: #001a4d;
    border-radius: 5px;
}

.seek-data-yes {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    background: $yellow-color;
    border-radius:5px 0 0 5px;
    transform: scaleX(.45);
    transform-origin: left;
}

.seek-data-no {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    background: #255abb;
    border-radius:5px 0 0 5px;
    transform: scaleX(.70);
    transform-origin: left;
}

.flex {
    display:flex;
}

.round-yes {
    height:15px;
    width:15px;
    background:$yellow-color;
    border-radius:50%;
}

.round-no {
    height:15px;
    width:15px;
    background:#255abb;
    border-radius:50%;
    margin: 20px 0px 20px 0;
}

.textYes, .textNo {
    font-family:"Josefin Sans";
    padding:20px 20px 5px 5px;
}