.container-phone {
    display:flex;
}

.yellow-bg {
    background: $yellow-color;
    width:50%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.blue-bg {
    background: $light-blue-color;
    width:50%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.word-quiz {
    font-family: "Noe Display Medium";
    font-size:3em;
    color:#fff;
    position:absolute;
    left:50%;
    top:50%;
    z-index: 11;
    transform: translate(-50%, -50%);
}

.quizPhone {
    width:100%;
    display:flex;
}

.quizPhone .box-quiz {
    flex:1;
    position:relative;
    height: 100vh;
    z-index: 1;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    color: #ccc;
    font-size:14px;
}
input[type="radio"] + label span {
    display:inline-block;
    width: 100%;
    height:105vh;
    vertical-align:middle;
    cursor:pointer;
}

input[type="radio"] + label .no-button {
     background-color:$yellow-color;
}

input[type="radio"] + label .yes-button {
    background-color:$light-blue-color;
}

.bg-check-yes {
    position:absolute;
    width:100%;
    height:100vh;
    top:0;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: 0.4s ease-in-out;
    background: #2f4c84;
    z-index: 1;
}

.yes:checked + label .bg-check-yes{
    transform: scaleY(1);
}

.bg-check-no {
    position:absolute;
    width:100%;
    height:100vh;
    top:0;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: 0.4s ease-in-out;
    background: #ffbf00;
    z-index: 1;
}

.no:checked + label .bg-check-no{
    transform: scaleY(1);
}

button.button-submit {
    position: absolute;
    bottom: -50vw;
    left: 50%;
    height: 50vw;
    width: 50%;
    border-radius: 50%;
    background: #001A4D;
    border: 1px solid #ccc;
    color: #fff;
    transform: translate(-50%,-50%);
    line-height: 1px;
    z-index: 999;
}

.button-submit .text-submit {
    font-family: 'Josefin Sans';
    font-size: 13px;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.number-question {
    position:absolute;
    top:0;
    left:0;
    color:#fff;
    font-size:30px;
    z-index: 1111;
}