.container-phone {
    display:flex;
}

.yellow-bg {
    background: $yellow-color;
    width:50%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.blue-bg {
    background: $light-blue-color;
    width:50%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.title-phone {
    font-family: "Noe Display Medium";
    font-size:3em;
    color:#fff;
}