.timeline {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 68%;
    margin: auto;
    opacity:.5;
    transition:.4s ease-in-out;
    font-family: "Josefin Sans";    
}


.content-round-step {
    display:flex;
    align-items: center;
}

.timeline:hover{
    opacity:1;
}

.fill{
    flex: 1;
    background: #ffffff;
    height: 6px;
    margin: 12px -1px;
    text-align:center;
}

.round-step {
    animation:showRound .4s .2s ease-in-out forwards;
    transform: scale(0);
    height: 30px;
    width: 30px;
    border: 2px solid $yellow-color;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.little-round-step {
    animation:showRound .4s .4s ease-in-out forwards;
    transform: scale(0);
    height: 18px;
    width: 18px;
    margin-left:10px;
    border: 1px solid $yellow-color;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.overflow {
    overflow:hidden;
    position:relative;
}

.title-step {
    font-weight: 500;
    color: $yellow-color;
    margin-top: 15px;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: -.5px;
    transform: translateY(110%);
    animation: showTitle .4s .4s ease-in-out forwards;
}

@keyframes showTitle {
    0% {
        transform: translateY(110%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes showRound {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.inter-round {
    height: 18px;
    width: 18px;
    border-radius:50%;
    border:1px solid #fff;
    transition:.2s ease-in-out;
    transform-origin:center;
    transform: scale(0);
}

.inter-round--active {
    @extend .inter-round;
    transform: scale(1);
    background:#fff;
}

.inter-little-round {
    height: 6px;
    width: 6px;
    border-radius:50%;
    border:3px solid #fff;    
    transition:.2s ease-in-out;    
    transform-origin:center;
    transform: scale(0);    
}

.round-step:hover .inter-round {
    transform: scale(1);
}

.little-round-step:hover .inter-little-round{
    transform: scale(1);
}

.title-fill {
    color:#fff;
    margin-top:-10px;
    transform:translateY(-100%);
    transition:.4s ease-in-out;        
}

.interval {
    color:$yellow-color;
    margin-top: 22px;
    transform:translateY(100%);
    transition:.4s ease-in-out;        
}

.fill:hover .interval {
    transform:translateY(0%);
}

.fill:hover .title-fill {
    transform:translateY(65%);
}

.overflow-title-fill {
    width: 100%;
    height: 20px;
    margin-top: -23px;
}