.timeline {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    padding:20px;
    display:flex;
    justify-content: space-around;
}

.content-step {
    opacity:.5;
    transition:.4s ease-in-out;
}

.content-round-step {
    display:flex;
    align-items: center;
}

.content-step:hover{
    opacity:1;
}

.round-step {
    height: 30px;
    width: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.little-round-step {
    height: 18px;
    width: 18px;
    margin-left:10px;
    border: 1px solid #fff;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.title-step {
    font-family: "Josefin Sans";
    font-weight: 500;
    color: #fff;
    margin-top: 15px;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: -.5px;
}

.inter-round {
    height: 18px;
    width: 18px;
    border-radius:50%;
    border:1px solid #fff;
    transition:.2s ease-in-out;
    transform-origin:center;
    transform: scale(0);
}

.inter-round--active {
    @extend .inter-round;
    transform: scale(1);
    background:#fff;
}

.inter-little-round {
    height: 6px;
    width: 6px;
    border-radius:50%;
    border:3px solid #fff;    
    transition:.2s ease-in-out;    
    transform-origin:center;
    transform: scale(0);    
}

.round-step:hover .inter-round {
    transform: scale(1);
}

.little-round-step:hover .inter-little-round{
    transform: scale(1);
}