$time-delay: 4;
$yellow-color: #FFCC00;
$blue-color: #001A4D;
$lighter-blue-color: #132A56;
$light-blue-color: #4664A2;

@import 'fonts';
@import 'landing';
@import 'reset';
@import 'button';
@import 'timeline';
@import 'index';
@import 'quiz-phone';
@import 'quiz';
@import 'qr-code';
@import 'test-info';
@import 'country-result';
