$time-delay: 4;
$yellow-color: #FFCC00;
$blue-color: #001A4D;
$light-blue-color: #4664A2;

@import 'fonts';
@import 'landing';
@import 'reset';
@import 'button';
@import 'timeline';
@import 'index';
@import 'quiz-phone';
