


<div class="responsive-btn responsive-btn-left">
  <button type="button" class="main-btn arrow-btn arrow-left circle-btn"></button>
</div>
<div class="responsive-btn responsive-btn-right">
  <button type="button" class="main-btn arrow-btn arrow-right circle-btn"></button>
</div>
