<?php
/*
  landing page
*/
?>
  <div class="landing-container">
    <div class="landing-bg-overlay"></div>
    <div class="landing-content">
      <div class="landing-title"><span>Brexit or not ?</span></div>
      <p>Want to know if it is better for your country to leave the European Union? This is an immersive experience to understand and adapt the BREXIT issues to your country.
      </p>
      <p>On 23 June 2016, the citizens of the United Kingdom voted in favor of the yes (51,9%) so that their country definitively leaves the European Union. This vote will have a significant economic impact on the future life of citizens.</p>
      <p>Many issues remain unknown to most Europeans. Find out if it's better for your country to stay in or out of the European Union by answering a series of questions, we will help you determine what you really think about BREXIT.</p>
      <div class="container-unlock-landing">
        <span class="start-landing">start</span>
        <button type="button" class="landing-begin-button main-btn circle-btn"></button>
        <div class="background-circle"></div>
      </div>
    </div>
    <video autoplay="true" muted loop src="http://localhost:3000/assets/video/brexit_video.mp4">Ici la description alternative</video>
  </div>
  <div class="landing-transition">
    <div class="landing-transition-bar landing-transition-bar-1"></div>
    <div class="landing-transition-bar landing-transition-bar-2"></div>
  </div>
