<?php
/*
  landing page
*/
?>
<div class="landing-container">
  <div class="landing-bg-overlay"></div>
  <div class="landing-content">
    <div class="landing-title"></div>
    <button type="button" class="landing-begin-button">Begin</button>
    <div class="know-more-container">
      <span>En savoir plus</span>
      <div class="know-more-bar"></div>
    </div>
  </div>
  <video autoplay="true" muted loop src="assets/video/brexit_video.mp4">Ici la description alternative</video>
</div>
<div class="landing-transition">
  <div class="landing-transition-bar landing-transition-bar-1"></div>
</div>
