<div class="menu-burger menu-burger-close-animation">
  <div class="menu-burger-bar-1 menu-burger-bar"></div>
  <div class="menu-burger-bar-2 menu-burger-bar"></div>
  <div class="menu-burger-bar-3 menu-burger-bar"></div>
</div>
<div class="side-menu-container menu-container-close">
  <div class="title-container">
    <div class="menu-title-container">
        <span class="menu-title-unselected">Home
          <div class="menu-title-container-bar menu-title-unselected"></div>
        </span>
    </div>
    <div class="menu-title-container">
        <span class="menu-title-selected">Country choice
          <div class="menu-title-container-bar"></div>
        </span>
    </div>
    <div class="menu-title-container">
        <span class="menu-title-unselected">Phone link
          <div class="menu-title-container-bar"></div>
        </span>
    </div>
  </div>
  <div class="footer-menu-burger">
    <div class="disclaimer"></div>
    <div class="share-link"></div>
    <div class="sound-ico"></div>
  </div>
</div>
<div class="fade-menu-container fade-menu-container-close">
  <div class="fade-menu-container-middle"></div>
  <div class="fade-menu-container-over"></div>
  <div class="fade-menu-container-under"></div>
</div>
