<div class="menu-burger menu-burger-close-animation">
  <div class="menu-burger-bar-1 menu-burger-bar"></div>
  <div class="menu-burger-bar-2 menu-burger-bar"></div>
  <div class="menu-burger-bar-3 menu-burger-bar"></div>
</div>
<div class="footer-menu-burger">
  <div class="menu-burger-ico disclaimer-link">
    <svg class="ico-hover" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="8"></line></svg>
  </div>
  <div class="menu-burger-ico share-link">
    <svg class="ico-hover" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-share-2"><circle cx="18" cy="5" r="3"></circle><circle cx="6" cy="12" r="3"></circle><circle cx="18" cy="19" r="3"></circle><line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line><line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line></svg>
    <div class="copied-return"><span>copied !</span></div>
  </div>
  <div class="menu-burger-ico sound-ico">
    <svg class="ico-hover inner-sound-off sound-display" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-volume-x"><polygon points="11 5 6 9 2 9 2 15 6 15 11 19 11 5"></polygon><line x1="23" y1="9" x2="17" y2="15"></line><line x1="17" y1="9" x2="23" y2="15"></line></svg>
    <svg class="ico-hover inner-sound-on sound-no-display" width="24" height="24" viewBox="0 0 24 24" fill="none"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-volume-2"><polygon points="11 5 6 9 2 9 2 15 6 15 11 19 11 5"></polygon><path d="M19.07 4.93a10 10 0 0 1 0 14.14M15.54 8.46a5 5 0 0 1 0 7.07"></path></svg>
    </div>
</div>
<div class="disclaimer-text">
  <img class="close-disclaimer" src="../assets/img/cross.png" alt="close disclaimer">
  <p>THIS WORK WAS CARRIED OUT AS PART OF A PEDAGOGICAL PROJECT AND FOR PEDAGOGICAL PURPOSES. THE EXPLOITATION RIGHTS HAVE NOT BEEN AUDITED OR ACQUIRED</p>
</div>
<!--
<div class="side-menu-container menu-container-close">
</div>
<div class="fade-menu-container fade-menu-container-close">
  <div class="fade-menu-container-middle"></div>
  <div class="fade-menu-container-over"></div>
  <div class="fade-menu-container-under"></div>
</div>
-->
