<div class="menu-burger menu-burger-close-animation">
  <div class="menu-burger-bar-1 menu-burger-bar"></div>
  <div class="menu-burger-bar-2 menu-burger-bar"></div>
  <div class="menu-burger-bar-3 menu-burger-bar"></div>
</div>
<div class="side-menu-container menu-container-close">
</div>
<div class="fade-menu-container fade-menu-container-close">
  <div class="fade-menu-container-middle"></div>
  <div class="fade-menu-container-over"></div>
  <div class="fade-menu-container-under"></div>
</div>
