<div class="qr-transition">
  <div class="qr-transition-bar qr-transition-bar-1"></div>
  <div class="qr-transition-bar qr-transition-bar-2"></div>
  <div class="qr-transition-bar qr-transition-bar-5"></div>
  <div class="qr-transition-bar qr-transition-bar-3"></div>
  <div class="qr-transition-bar qr-transition-bar-1"></div>
  <div class="qr-transition-bar qr-transition-bar-2"></div>
  <div class="qr-transition-bar qr-transition-bar-4"></div>
  <div class="qr-transition-bar qr-transition-bar-2"></div>
  <div class="qr-transition-bar qr-transition-bar-5"></div>
  <div class="qr-transition-bar qr-transition-bar-3"></div>

</div>
<div class="inner-qr-code-container">
  <div class="top-text-qr-code"><span class="title-qr-code">Choice your method for answer to the quiz</span></div>
  <div class="bottom-text-qr-code">
    <div class="text-qr-code-step">You can answer the quiz with your phone, rewrite the URL on your phone and click on the button</div>
    <div class="url"> http://tiny.cc/d1jt1y </div>
    <div class="btn-start">
      <a href="/"> <i class="fa fa-mobile"></i> Start the quiz </a>
    </div>
  </div>
  <div class="or-qr-code">OR</div>
  <div class="bottom-text-qr-code">
    <div class="text-qr-code-step">Just with your computer</div>
    <div class="btn-start">
      <a href="/"> <i class="fa fa-desktop"></i>  Start the quiz </a>
    </div>
  </div>
  <div class="qrcode-btn-back">
    <span>back</span>
    <button type="button" class="back-qr-code-btn main-btn arrow-btn arrow-left circle-btn"></button>
  </div>
</div>
<div class=""></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script>

</script>