<div class="qr-transition">
  <div class="qr-transition-bar qr-transition-bar-1"></div>
</div>
<div class="inner-qr-code-container">
  <div class="top-text-qr-code"><span>Use your phone as a remote</span></div>
  <div class="qr-code-img"></div>
  <div class="bottom-text-qr-code"><span>Scanning this QRcode</span></div>
  <div class="qrcode-btn-continue">
    <span>skip/continue</span>
    <button type="button" class="main-btn arrow-btn arrow-right circle-btn"></button>
  </div>
  <div class="qrcode-btn-back">
    <span>back</span>
    <button type="button" class="back-qr-code-btn main-btn arrow-btn arrow-left circle-btn"></button>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
