<%- include('partiels/head'); %>
<body>
    <div class="container-phone">
        <form class="quizPhone">
            <div class="box-quiz">
                <input type="radio" id="no" value="1" class="yellow-bg no" name="radio" />
                <label for="no" class="title-phone ">
                    <span class="no-button"></span>
                    <div class="word-quiz">Non</div>
                    <div class="bg-check-no"></div>
                </label>
            </div>
            <div class="box-quiz">
                <input type="radio" id="yes" value="2" class="blue-bg yes" name="radio" />
                <label for="yes" class="title-phone">
                    <span class="yes-button"></span>
                    <div class="word-quiz">Oui</div>
                    <div class="bg-check-yes"></div>
                </label>
            </div>
            <button type="submit" class="button-submit">
                <span class="text-submit">Valider mon choix</span>
            </button>
        </form>
    </div>
    <div class="number-question"></div>
    <button type="button" class="main-btn arrow-btn arrow-right circle-btn"></button>
    <SCRIPT type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js"></SCRIPT>
    <script type="module" src="../assets/js/phone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script>
    const socket = io.connect();
    const form = document.querySelector('.quizPhone')
    let idQuestion = 1
    let idSocket

    form.addEventListener('submit', _event => {
        _event.preventDefault()
        value = document.querySelector('input[type="radio"]:checked').value
        data = {
            "id": idQuestion,
            "value": value
        }
        socket.emit('answerQuestion', data)
        document.querySelector('input[type="radio"]:checked').checked = false
    })

    socket.on('questionValue', _data => {
        if(idQuestion == 1) {
            idSocket = _data.idSocket;
        } 
        if(idQuestion != 11 && idSocket == _data.idSocket) {
            idQuestion++
            document.querySelector('.number-question').innerHTML = _data.id
            console.log('bon')
        }
        // success
        if(_data.success) {
            console.log('ok finish')
        }
        console.log(_data)
    })
    </script>
</body>
  
</html>
  