<%- include('partials/head'); %>
<body>
    <div class="container-phone">
        <div class="quizPhone">
            <div class="box-quiz">
                <input type="radio" id="no" value="1" class="yellow-bg no" name="radio" />
                <label for="no" class="title-phone ">
                    <span class="no-button"></span>
                    <div class="word-quiz">Non</div>
                    <div class="bg-check-no"></div>
                </label>
            </div>
            <div class="box-quiz">
                <input type="radio" id="yes" value="2" class="blue-bg yes" name="radio" />
                <label for="yes" class="title-phone">
                    <span class="yes-button"></span>
                    <div class="word-quiz">Oui</div>
                    <div class="bg-check-yes"></div>
                </label>
            </div>
        </div>
        <div class="info-round pos-answer"><i class="fa fa-info"></i></div>
    </div>
    <div class="question-header">
    Question n°<span class="number-q"></div>
    </div>
    <div class="stats-skip-screen">

    </div>
    <div class="end-phone">
        <div class="text-center">
            <i class="fa fa-circle-check"></i>

            <div class="text-finish">
                Le quiz est désormais terminé! Continuer l'expérience sur l'ordinateur
            </div>
        </div>
    </div>
    <div class="idpage"><%- idPage %></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script type="module" src="../assets/js/phone.js"></script>
</body>
  
</html>
  